header{
    border-bottom: 1px solid dimgrey;
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 100%;
}

main{
    overflow: hidden;
    padding-top: 100px;
    font-size: 0.8rem;

}

.ms_top-header{
    display: flex;
    justify-content: space-between;
}

.ms_left-top span{
    font-size: 1.2rem;
}

.ms_header-logo{
    height: 50px;
    padding: 13px 0 13px 13px;
    display: inline-block;
    align-items: center;
    
}

.ms_right-top i{
    padding: 13px 0 13px 13px;
    font-size: 1.2rem;
}

.ms_right-top div{
    display: inline-block;
    background-color: orange;
    padding: 4px 12px;
    border-radius: 50%;
    color: white;
    margin: 0 12px;
    font-size: 0.9rem;
}


.ms_bottom-header{
    margin-bottom: 10px;
}
.ms_bottom-header span{
    margin: 0 13px;
    font-size: 0.9rem;
}

div.container h2,
div.container h4{
    font-size: 1.2rem;
}

